* text=auto eol=lf

*.go        text eol=lf
*.md        text eol=lf
*.sh        text eol=lf
*.yml       text eol=lf
*.yaml      text eol=lf
Makefile    text eol=lf
go.mod      text eol=lf
go.sum      text eol=lf

*.exe       binary
*.bin       binary
*.png       binary
*.jpg       binary
*.gz        binary
*.zip       binary
